/* Accompanies user_info/index.html */

* {
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body {
    background-color: beige;
}

h1, h2, h3 {
    text-align: center;
}
